@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --bg-color: #1b2141;
    --text-color: #dbd9d9;
    --main-color: #0ef;
    --other-color: #fcfcfc;
    --header-color: #333333;
    --h2-font-color: #fff;
    --h1-font: 5rem;
    --h2-font: 4rem;
    --p-font: 2rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62.5%;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
/* (Start) Modificar el scroll (o barra de bajada) */
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background: #0ef;
    border-radius: 0.6rem;
}
/* (End) Modificar el scroll (o barra de bajada) */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: all 3rem 0.8rem;
    background: var(--header-color);
}

header.sticky{
    box-shadow: 0 0.5rem 2rem rgba(58, 58, 58, 0.9);
}

.navbar-menu a{
    position: relative;
    font-size: 1.7em;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.6rem 2rem;
    transition: .5s;
}

.navbar-menu a:hover{
    color: var(--main-color);
}

.navbar-menu a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 0.2rem solid var(--main-color);
    border-radius: 1.5rem;
    opacity: 0;
    transition: .5s;
}

.navbar-menu a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}



.logo .logo_img{
    width: 6rem;
    border-radius: 0.6rem;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 2.8rem;
    font-weight: bold;
}

.header-icon{
    display: flex;
    align-items: center;
}

header .action .searchBx{
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 0.5rem;
}

header .action .searchBx i{
    font-size: 1.4em;
    margin: 0.5rem;
    color: #222;
}

header .action .searchBx input{
    outline: none;
    border: none;
    font-size: 1.7rem;
    color: #222;
}

/* #menu-icon{
    font-size: 3.5rem;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
} */
/* .............................init pag start ............................. */
.img-fond1{
    background-size: cover;
}

.img-fond1 .fondo-1{
    width: 99vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    
}

.descripcion-prin{
    position: relative;
    background-color: inherit;
    margin: -3.5rem 2.2rem 0;
    padding-bottom: 3.5rem;
    background-repeat: no-repeat;
    box-sizing: inherit;
    border-radius: 0.5rem;
}

h1{
    display: block;
    font-size: var(--h1-font);
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    font-weight: bold;
    text-align: center;
}

h2{
    display: block;
    font-size: var(--h2-font);
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    font-weight: bold;
    text-align: center;
}

.descripcion-prin p{
    display: block;
    font-size: var(--p-font);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    text-align: center;
}

/* .............................init pag end ............................. */


/* .............................about start ............................. */
.about{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding: 0rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentBx{
    width: 50%;
    margin: 2rem;
}
.about .contentBx h2{
    font-size: var(--h2-font);
    font-weight: 700;
    color: #fff;
}

.about .contentBx p{
    display: block;
    font-size: var(--p-font);
    min-width: 60rem;
    text-align: justify;
    color: var(--text-color);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

.about .contentBx a{
    display: inline-block;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border: 0.1rem solid var(--main-color);
    text-decoration: none;
    font-size: var(--p-font);
    font-weight: 700;
    border-radius: 0.5rem;
    color: var(--text-color);
    letter-spacing: 0.1rem;
}

.about .contentBx a:hover{
    background: var(--main-color);
    border: none;
    color: #050e2d;
    box-shadow: 0 0 1rem var(--main-color);
}

.about .gato_gamer{
    width: 40%;
}
/* .............................about end ............................. */

/* .............................games start ............................. */
.games{
    padding: 0rem 10rem;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem auto;
    
}

.games h2{
    color: var(--text-color);
    margin: 1rem 0rem;
}

.games ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.games ul li{
    list-style: none;
    padding: 1rem 2rem;
    border: 0.1rem solid var(--main-color);
    border-radius: 0.5rem;
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: var(--text-color);
}

.games ul li.active{
    background: var(--main-color);
    color: #050e2d;
    box-shadow: 0 0 1rem var(--main-color);
}

/* .games ul li:hover{
    background: var(--main-color);
    color: #050e2d;
    box-shadow: 0 0 1rem var(--main-color);
} */

 .games .cardBx{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.games .cardBx .card{
    width: 27rem;
    border-radius: 1rem;
    margin: 2rem 4rem;
    background: #333D75;
    overflow: hidden;
}


.games .cardBx .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover
} 

.games .cardBx .card .content{
    padding: 1rem;
}

.games .cardBx .card .content h4{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0.5rem 0rem;
    text-align: center;
}

.games .cardBx .card .progress-line{
    position: relative;
    height: 1rem;
    width: 100%;
    background: #3E4B91;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.games .cardBx .card .progress-line span{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1); 
    }
}

.games .cardBx .card .info{
    border-top: 0.2rem solid #3E4B91;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games .cardBx .card .info p{
    font-size: 1.2rem;
    color: var(--text-color);
}

.games .cardBx .card .info p span{
    font-size: 2rem;
    color: var(--text-color);   
}

.games .cardBx .card .info p span .star.active{
    color: yellow;
}

.games .cardBx .card.hide{
    display: none;
}



/* .............................games end ............................. */

